<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Worlds</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createWorld()">
        <ion-icon name="plus"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let world of worlds" (click)="worldTapped($event, world)">
      <ion-icon name="earth" item-start></ion-icon>
      {{world.seed}}
    </button>
  </ion-list>
  <p *ngIf="!worlds.length">
    No worlds found, go create one !
  </p>
</ion-content>
